In [7]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\techwork(3)(2)\transactions.csv")
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [12]:
#1.what is the total sales amount across all transactions

total_sales = df["t_amt"].sum()
print("Total Sales Amount:", total_sales)

Total Sales Amount: 5110820.54

In [13]:
#2.Which month had the highest total transaction amount?

df["t_date"] = pd.to_datetime(df["t_date"], format="%m-%d-%Y")

df.groupby(df["t_date"].dt.month_name())["t_amt"].sum().idxmax()

'March'

In [14]:
df.groupby(df["t_date"].dt.month_name())["t_amt"].sum().max()

444664.24

In [15]:
#3.what is the avg transaction amount per customer

df.groupby("cust_id")["t_amt"].mean()

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [16]:
#4.What is the trend of total sales over months?

df["t_date"] = pd.to_datetime(df["t_date"], format="%m-%d-%Y")

df.groupby(df["t_date"].dt.month_name())["t_amt"].sum()

t_date
April        420695.24
August       434255.01
December     421490.73
February     395262.37
January      438165.76
July         439560.80
June         421074.55
March        444664.24
May          432627.58
November     408846.35
October      424856.28
September    429321.63
Name: t_amt, dtype: float64

In [17]:
#5.what is the highest single transaction amount recorded?

df["t_amt"].max()

200.0

In [18]:
#6.Which service category contributes the most to total revenue?

df.groupby("services")["t_amt"].sum()

services
Air Sports                 99316.90
Combat Sports             164730.67
Dancing                    42603.71
Exercise & Fitness        766463.87
Games                     374932.70
Gymnastics                327225.34
Indoor Games              288506.04
Jumping                   205842.67
Outdoor Play Equipment    294728.28
Outdoor Recreation        846678.64
Puzzles                    61564.75
Racquet Sports            166976.06
Team Sports               617461.38
Water Sports              531815.97
Winter Sports             321973.56
Name: t_amt, dtype: float64

In [19]:
#7.Which product generated the highest revenue?

df.groupby('products_used')['t_amt'].sum().idxmax()

'Yoga & Pilates'

In [20]:
#8.How does the average transaction amount vary between services?

df.groupby('services')['t_amt'].mean().sort_values(ascending=False)

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

In [21]:
#9.How many unique customers made purchases?

unique_customers = df['cust_id'].nunique()
unique_customers

9926

In [22]:
#10.10.Which customers have spent the most overall?

df.groupby('cust_id')['t_amt'].sum().idxmax()

np.int64(4009485)

In [23]:
#11.What is the average number of transactions per customer?

df.groupby('cust_id').size().mean()

np.float64(5.037275841225066)

In [24]:
#12.Are there customers who made multiple purchases in different categories?

(df.groupby('cust_id')['services'].nunique() > 1).sum()

np.int64(9488)

In [25]:
#13.What percentage of customers are repeat buyers?

((df.groupby('cust_id').size() > 1).sum() / df['cust_id'].nunique()) * 100

np.float64(96.5645778762845)

In [26]:
#14.Which product category has the highest total sales?

df.groupby('services')['t_amt'].sum().idxmax()

'Outdoor Recreation'

In [27]:
#15.Which services are most popular by transaction count?

service_counts = df['services'].value_counts()

service_counts.head()

services
Outdoor Recreation    8383
Exercise & Fitness    7394
Team Sports           6010
Water Sports          5219
Games                 3666
Name: count, dtype: int64

In [28]:
#16.For each service, which product type is purchased most frequently?

# Count transactions per product within each service
top_products = df.groupby(['services', 'products_used']).size().reset_index(name='count')

# For each service, get the product with the highest count
most_frequent_products = top_products.loc[top_products.groupby('services')['count'].idxmax()]

most_frequent_products

                   services               products_used  count
2                Air Sports                  Parachutes    400
3             Combat Sports                      Boxing    431
7                   Dancing                 Ballet Bars    414
9        Exercise & Fitness  Cardio Machine Accessories    445
32                    Games                     Mahjong    437
35               Gymnastics               Balance Beams    425
47             Indoor Games                    Foosball    422
54                  Jumping                 Trampolines    421
60   Outdoor Play Equipment                  Swing Sets    464
73       Outdoor Recreation                  Lawn Games    466
83                  Puzzles              Jigsaw Puzzles    397
85           Racquet Sports                   Badminton    413
97              Team Sports                      Hockey    434
105            Water Sports                Bodyboarding    425
118           Winter Sports        Cross-Country Skiing    429

In [29]:
#17.What is the average transaction amount per product type?

avg_per_product = df.groupby('products_used')['t_amt'].mean()
print(avg_per_product)

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [32]:
#18.Are there specific services where customers spend significantly more?

avg_per_service = df.groupby('services')['t_amt'].mean().sort_values(ascending=False)
print(avg_per_service)

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

In [33]:
#19.Which state has the highest total sales?

# Sum total sales per state
total_sales_per_state = df.groupby('state')['t_amt'].sum()

# Find the state with the highest total sales
top_state = total_sales_per_state.idxmax()
top_sales = total_sales_per_state.max()

print(f"The state with the highest total sales is {top_state} with ${top_sales:.2f}.")

The state with the highest total sales is California with $702346.23.

In [34]:
#20.Which city records the highest number of transactions?

# Count transactions per city
transactions_per_city = df['city'].value_counts()

# City with the highest number of transactions
top_city = transactions_per_city.idxmax()
top_count = transactions_per_city.max()

print(f"The city with the highest number of transactions is {top_city} with {top_count} transactions.")

The city with the highest number of transactions is Pasadena with 939 transactions.

In [35]:
#21.What is the average spending per transaction in each state?

top_city = df['city'].value_counts().idxmax()
top_count = df['city'].value_counts().max()

print(f"The city with the highest number of transactions is {top_city} with {top_count} transactions.")

The city with the highest number of transactions is Pasadena with 939 transactions.

In [36]:
#22.Are certain services more popular in specific states?

service_state_counts = df.groupby(['state', 'services']).size().unstack(fill_value=0)

print(service_state_counts)

services              Air Sports  Combat Sports  Dancing  Exercise & Fitness  \
state
Alabama                       21             44        8                 160
Arizona                       24             43       13                 175
California                   122            197       55                 988
Colorado                      35             62       13                 268
Connecticut                   19             27        7                 121
District of Columbia          10             13        6                  78
Florida                       52             93       24                 381
Georgia                       14             25        4                 125
Hawaii                         2             16        2                  57
Idaho                          9             11        6                  69
Illinois                      23             38       12                 192
Indiana                       10             14        4                  69
Iowa                          10             12        4                  72
Kansas                        21             31        4                 120
Kentucky                      28             34       11                 116
Louisiana                      6             18        5                  73
Maryland                       8             11        3                  60
Massachusetts                 30             47       10                 200
Michigan                      19             20        9                 150
Minnesota                     16             31        8                 126
Mississippi                    7             20        5                  64
Missouri                      32             36        9                 192
Nebraska                      16             29        6                 131
Nevada                        17             25        6                 152
New Jersey                    27             48       10                 206
New York                      18             23        8                 154
North Carolina                20             28        2                 128
Ohio                          39             66       17                 265
Oklahoma                       3             23        5                  62
Oregon                        41             71       11                 268
Pennsylvania                  14             22        7                 147
South Carolina                17             31       14                 115
Tennessee                     30             49       12                 288
Texas                         97            184       51                 818
Utah                          19             40       10                 137
Virginia                      27             50       13                 208
Washington                    37             52       16                 287
Wisconsin                     20             46        4                 172

services              Games  Gymnastics  Indoor Games  Jumping  \
state
Alabama                  80          74            64       52
Arizona                  89          86            76       51
California              512         422           376      319
Colorado                135         118           108       74
Connecticut              71          75            65       25
District of Columbia     31          39            25       18
Florida                 185         153           154       93
Georgia                  58          43            53       38
Hawaii                   33          28            23       23
Idaho                    39          26            19       15
Illinois                 96          90            78       48
Indiana                  29          27            27       20
Iowa                     32          30            28       13
Kansas                   60          57            49       45
Kentucky                 50          49            38       40
Louisiana                47          25            25       13
Maryland                 34          36            27       13
Massachusetts           111          89            75       53
Michigan                 67          60            60       41
Minnesota                62          47            47       39
Mississippi              29          42            27       15
Missouri                 95          85            69       56
Nebraska                 80          60            42       37
Nevada                   63          57            61       34
New Jersey               92          75            74       58
New York                 92          66            60       34
North Carolina           61          51            41       32
Ohio                    130         123            96       93
Oklahoma                 39          24            35       16
Oregon                  132         115            97       77
Pennsylvania             59          53            37       34
South Carolina           59          54            48       33
Tennessee               134         114            78       57
Texas                   418         370           312      221
Utah                     62          52            55       32
Virginia                 87          71            93       49
Washington              140         128            92       64
Wisconsin                73          82            65       40

services              Outdoor Play Equipment  Outdoor Recreation  Puzzles  \
state
Alabama                                   64                 191       12
Arizona                                   66                 247       13
California                               427                1188       83
Colorado                                  92                 279       15
Connecticut                               51                 140       10
District of Columbia                      35                  64        7
Florida                                  172                 483       35
Georgia                                   49                 153        9
Hawaii                                    28                  72        8
Idaho                                     26                  81        3
Illinois                                  74                 224       15
Indiana                                   26                  91        8
Iowa                                      15                  74        7
Kansas                                    55                 154       12
Kentucky                                  46                 156       14
Louisiana                                 35                  77        8
Maryland                                  24                  80        5
Massachusetts                             83                 253       13
Michigan                                  55                 152       15
Minnesota                                 42                 169       18
Mississippi                               25                  78        2
Missouri                                  78                 226       13
Nebraska                                  49                 149       11
Nevada                                    53                 135        7
New Jersey                                64                 225       21
New York                                  53                 140       10
North Carolina                            58                 153        8
Ohio                                      96                 307       20
Oklahoma                                  29                  70        7
Oregon                                   114                 335       25
Pennsylvania                              54                 154       10
South Carolina                            57                 162       10
Tennessee                                104                 313       28
Texas                                    307                 830       64
Utah                                      51                 136        6
Virginia                                  91                 186       23
Washington                                86                 276       22
Wisconsin                                 76                 180       15

services              Racquet Sports  Team Sports  Water Sports  Winter Sports
state
Alabama                           38          131           124             69
Arizona                           30          153           121             98
California                       205          816           720            412
Colorado                          61          211           177            108
Connecticut                       37          104           102             57
District of Columbia              15           63            55             20
Florida                           71          342           277            150
Georgia                           34          107           106             56
Hawaii                            10           59            41             21
Idaho                             13           51            60             27
Illinois                          44          165           148             91
Indiana                           14           43            38             23
Iowa                              17           61            54             25
Kansas                            31          100            96             79
Kentucky                          32          113            79             61
Louisiana                         22           58            42             18
Maryland                          18           47            47             34
Massachusetts                     39          158           126             88
Michigan                          36          111           114             58
Minnesota                         31          114            96             48
Mississippi                       12           62            55             30
Missouri                          46          147           142             86
Nebraska                          26          115            82             65
Nevada                            39          109            84             63
New Jersey                        45          157           136             85
New York                          30          119           105             73
North Carolina                    30           90            81             65
Ohio                              60          215           204            130
Oklahoma                          14           65            40             22
Oregon                            65          201           172            102
Pennsylvania                      24          101            94             70
South Carolina                    37          123            98             59
Tennessee                         51          207           199            126
Texas                            164          621           537            345
Utah                              30          116            82             53
Virginia                          56          180           170             72
Washington                        50          223           189            128
Wisconsin                         34          152           126             64

In [37]:
#23.Which states buy the most Outdoor Recreation products?
# Filter for Outdoor Recreation service
outdoor_df = df[df['services'] == 'Outdoor Recreation']

# Count total transactions per state
state_counts = outdoor_df['state'].value_counts()

print(state_counts)

state
California              1188
Texas                    830
Florida                  483
Oregon                   335
Tennessee                313
Ohio                     307
Colorado                 279
Washington               276
Massachusetts            253
Arizona                  247
Missouri                 226
New Jersey               225
Illinois                 224
Alabama                  191
Virginia                 186
Wisconsin                180
Minnesota                169
South Carolina           162
Kentucky                 156
Kansas                   154
Pennsylvania             154
Georgia                  153
North Carolina           153
Michigan                 152
Nebraska                 149
New York                 140
Connecticut              140
Utah                     136
Nevada                   135
Indiana                   91
Idaho                     81
Maryland                  80
Mississippi               78
Louisiana                 77
Iowa                      74
Hawaii                    72
Oklahoma                  70
District of Columbia      64
Name: count, dtype: int64

In [38]:
#24.Compare average spending between California and Texas customers.
# Calculate average spending for California and Texas
avg_spending = df[df['state'].isin(['California', 'Texas'])] \
                .groupby('state')['t_amt'].mean()

print(avg_spending)

state
California    102.652182
Texas         101.379891
Name: t_amt, dtype: float64

In [39]:
#25.Which quarter of the year saw the highest sales?

import pandas as pd

# Convert t_date to datetime
df['t_date'] = pd.to_datetime(df['t_date'])

# Extract the quarter for each transaction
df['quarter'] = df['t_date'].dt.quarter

# Sum total sales per quarter
quarter_sales = df.groupby('quarter')['t_amt'].sum()

# Identify the quarter with the highest sales
top_quarter = quarter_sales.idxmax()
top_sales = quarter_sales.max()

print(f"Quarter {top_quarter} saw the highest sales: ${top_sales:.2f}")

Quarter 3 saw the highest sales: $1303137.44

In [ ]:
#26.How does total sales vary month by month?

import pandas as pd

# Convert t_date to datetime
df['t_date'] = pd.to_datetime(df['t_date'])

# Sum sales per month
monthly_sales = df.groupby(df['t_date'].dt.month)['t_amt'].sum()

print(monthly_sales)

Object `month` not found.
t_date
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [41]:
#27.What is the total number of transactions per month?

import pandas as pd

# Convert t_date to datetime
df['t_date'] = pd.to_datetime(df['t_date'])

# Count transactions per month
monthly_transactions = df.groupby(df['t_date'].dt.month).size()

print(monthly_transactions)

t_date
1     4268
2     3834
3     4360
4     4175
5     4205
6     4171
7     4252
8     4250
9     4160
10    4181
11    3994
12    4150
dtype: int64

In [42]:
#28. is there a particular season when sports equipment sales spike?

import pandas as pd
# Convert transaction date to datetime
df['t_date'] = pd.to_datetime(df['t_date'])
df['month'] = df['t_date'].dt.month

# Map month to season
df['season'] = df['month'].apply(lambda m: 'Winter' if m in [12,1,2] 
                                  else 'Spring' if m in [3,4,5] 
                                  else 'Summer' if m in [6,7,8] 
                                  else 'Fall')
sports_services = ['Team Sports', 'Racquet Sports', 'Gymnastics', 'Exercise & Fitness']
sports_df = df[df['services'].isin(sports_services)]
season_sales = sports_df.groupby('season')['t_amt'].sum().sort_values(ascending=False)
print(season_sales)

season
Spring    479717.85
Summer    474336.71
Fall      467600.91
Winter    456471.18
Name: t_amt, dtype: float64

In [43]:
#29.How many transactions were done using credit?

# Count credit transactions
credit_count = df[df['t_details'] == 'credit'].shape[0]

print(f"Number of credit transactions: {credit_count}")

Number of credit transactions: 43151

In [44]:
#30.What is the total revenue generated from credit transactions?

# Filter credit transactions and sum the amounts
credit_revenue = df[df['t_details'] == 'credit']['t_amt'].sum()

print(f"Total revenue from credit transactions: ${credit_revenue:.2f}")

Total revenue from credit transactions: $4923134.93

In [ ]:
#31.Is there a difference in average spending between credit and debit customers?

# Calculate average spending by payment type
avg_spending = df.groupby('t_details')['t_amt'].mean()

print(avg_spending)

Object `customers` not found.
t_details
cash       27.403360
credit    114.090865
Name: t_amt, dtype: float64

In [46]:
#32.Which states or cities should the company focus on for marketing high-value products?

df.groupby('state')['t_amt'].mean().sort_values(ascending=False)
df.groupby('city')['t_amt'].mean().sort_values(ascending=False)

city
Long Beach     109.308506
Boston         107.975107
Louisville     106.643184
Paterson       106.629200
Irvine         106.517384
                  ...
Hartford        97.622017
Nashville       97.324247
Chattanooga     96.562397
Birmingham      96.319019
Houston         94.959161
Name: t_amt, Length: 108, dtype: float64

In [47]:
#33.Should more inventory be stocked for Exercise & Fitness products given their popularity?

# Count of transactions per service
df['services'].value_counts()
df.groupby('services')['t_amt'].sum().sort_values(ascending=False)

services
Outdoor Recreation        846678.64
Exercise & Fitness        766463.87
Team Sports               617461.38
Water Sports              531815.97
Games                     374932.70
Gymnastics                327225.34
Winter Sports             321973.56
Outdoor Play Equipment    294728.28
Indoor Games              288506.04
Jumping                   205842.67
Racquet Sports            166976.06
Combat Sports             164730.67
Air Sports                 99316.90
Puzzles                    61564.75
Dancing                    42603.71
Name: t_amt, dtype: float64

In [48]:
#34.Are there product categories with high sales but low average transaction amounts?

# Calculate total sales and average transaction per service
service_stats = df.groupby('services')['t_amt'].agg(['sum', 'mean']).sort_values(by='sum', ascending=False)

print(service_stats)

                              sum        mean
services
Outdoor Recreation      846678.64  100.999480
Exercise & Fitness      766463.87  103.660247
Team Sports             617461.38  102.738998
Water Sports            531815.97  101.899975
Games                   374932.70  102.272968
Gymnastics              327225.34  102.385901
Winter Sports           321973.56  101.217718
Outdoor Play Equipment  294728.28  101.281196
Indoor Games            288506.04  103.074684
Jumping                 205842.67  102.155171
Racquet Sports          166976.06  103.647461
Combat Sports           164730.67  101.061761
Air Sports               99316.90  103.455104
Puzzles                  61564.75  100.595997
Dancing                  42603.71  102.907512

In [49]:
35.Are there underperforming service categories that need promotional offers?

# Count transactions and sum sales per service
service_performance = df.groupby('services')['t_amt'].agg(['count', 'sum']).sort_values(by='sum')

print(service_performance)

Object `offers` not found.
                        count        sum
services
Dancing                   414   42603.71
Puzzles                   612   61564.75
Air Sports                960   99316.90
Combat Sports            1630  164730.67
Racquet Sports           1611  166976.06
Jumping                  2015  205842.67
Indoor Games             2799  288506.04
Outdoor Play Equipment   2910  294728.28
Winter Sports            3181  321973.56
Gymnastics               3196  327225.34
Games                    3666  374932.70
Water Sports             5219  531815.97
Team Sports              6010  617461.38
Exercise & Fitness       7394  766463.87
Outdoor Recreation       8383  846678.64